/target
/runs
/private
/.local
/gpu/bin
/gpu/generated_config.h
/vendor-solanity/.git/
/vendor-solanity/src/debug/
/.vs/
*.jsonl
*.base58.txt
*.solana.json
*.hex.txt
*.pubkey.txt
*keypair*.json
*.log
*.tmp
*.temp
*.obj
*.exp
*.lib
*.pdb
